* {
    box-sizing: border-box;
  }
body {
    background-color: grey;
    float: left;
}
.stage{
    background-color: lightblue;
}
.sides{
    background-color: turquoise;
}
a {
    color: black;
    text-decoration: none;
    cursor: default ;
  }

hr{
    margin: 30px -20px 20px;
    border: 0;
    border-top: 1px solid black;
}
input {
    width: 160px;
    margin: 2px;
  }
input:hover {
    background-color: beige;
  }