<!doctype html>
<style>
body {
  background-color: grey;
}

a {
  color: black;
  text-decoration: none;
  cursor: default ;
}
</style>

<title>DBC Lights</title>
<button button type="button" id = "red"> <a href="/red">RED</a> </button>  </BR></BR>
<button button type="button"> <a href="/blue">BLUE</a> </button>  </BR></BR>
<button button type="button"> <a href="/yelllow">YELLOW</a> </button>  </BR></BR>
<button button type="button"> <a href="/green">GREEN</a> </button>  </BR></BR>
<button button type="button"> <a href="/purple">PURPLE</a> </button>  </BR></BR>
<button button type="button"> <a href="/ashypurple">ASHY PURPLE</a> </button>  </BR></BR>