<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
function f1(objButton){  
  var url = "/" + objButton.value.toLowerCase().replace(" ","");
  $.get(url);
}
</script>
<head>
  <title>DBC Lights</title>
  <link rel="icon" type="images\png" href="{{ url_for('static', filename='images/sound.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <input type='button' class = "stage" value='RED' onclick='f1(this)' />
  <input type='button' class = "stage" value='BLUE' onclick='f1(this)' />
  <input type='button' class = "stage" value='YELLOW' onclick='f1(this)' />
  <input type='button' class = "stage" value='GREEN' onclick='f1(this)' />
  <input type='button' class = "stage" value='PURPLE' onclick='f1(this)' />
  <input type='button' class = "stage" value='ASHY PURPLE' onclick='f1(this)' />
  <input type='button' class = "stage" value='ORANGE' onclick='f1(this)' />
  <input type='button' class = "stage" value='WHITE' onclick='f1(this)' />
  
  <hr>
  
  <input type='button' class = "sides" value='W 0' onclick='f1(this)' />
  <input type='button' class = "sides" value='W 25' onclick='f1(this)' />
  <input type='button' class = "sides" value='W 50' onclick='f1(this)' />
  <input type='button' class = "sides" value='W 75' onclick='f1(this)' />
  <input type='button' class = "sides" value='W 100' onclick='f1(this)' />
  <br>
  <input type='button' class = "sides" value='C 0' onclick='f1(this)' />
  <input type='button' class = "sides" value='C 25' onclick='f1(this)' />
  <input type='button' class = "sides" value='C 50' onclick='f1(this)' />  
  <input type='button' class = "sides" value='C 75' onclick='f1(this)' />  
  <input type='button' class = "sides" value='C 100' onclick='f1(this)' />
  <br>
  <input type='button' class = "sides" value='KILL' onclick='f1(this)' />  
</body>